@model BiblioTechA.Models.Pedido

@{
    ViewData["Title"] = "Novo Pedido";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Criar Pedido</h1>

<h4>Detalhes do Pedido</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Empresta" class="control-label">Data de Empréstimo</label>
                <input asp-for="Empresta" class="form-control" />
                <span asp-validation-for="Empresta" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="Devolve" class="control-label">Data de Devolução</label>
                <input asp-for="Devolve" class="form-control" />
                <span asp-validation-for="Devolve" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="LivroId" class="control-label">Livro</label>
                <select asp-for="LivroId" class="form-control" asp-items="ViewBag.LivroId"></select>
                <span asp-validation-for="LivroId" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="LeitorId" class="control-label">Leitor</label>
                <select asp-for="LeitorId" class="form-control" asp-items="ViewBag.LeitorId"></select>
                <span asp-validation-for="LeitorId" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-outline-primary" />
            </div>
            <br />
            <a asp-action="Index" class="btn btn-outline-warning">Back to List</a>
        </form>
    </div>
</div>
